### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import pandas as pd
import csv

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [38]:
total_players = len(purchase_data_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [39]:
item_analysis = len(purchase_data_df["Item ID"].unique())
total_revenue = purchase_data_df["Price"].sum()
num_of_purchases = len(purchase_data_df["Purchase ID"].unique())
#num_of_purchases
#total_revenue
avg_price = purchase_data_df["Price"].mean()
#avg_price
item_analysis_df = pd.DataFrame({"Number of Unique Items":[item_analysis],
                                 "Average Price":[avg_price],
                                 "Number of Purchases":[num_of_purchases],
                                 "Total Revenue": [total_revenue]})

#item_analysis_df["Average Price"] = item_analysis_df["Average Price"].map("${;.2f}".format)
#item_analysis_df["Total Revenue"] = item_analysis_df["Total Revenue"].map("${;.2f}".format)

item_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [41]:

gender_df = purchase_data_df.drop_duplicates(subset=["SN"])
gender_df["Gender"].value_counts()
gender_percent = gender_df["Gender"].value_counts()/total_players *100
gender_grouped = gender_df.groupby(["Gender"]).count()

gender_grouped = gender_grouped.rename(columns={"Purchase ID": "Total Count"})
gender_dropped = gender_grouped.drop(columns=["SN", "Age", "Item ID", "Item Name", "Price"])
gender_dropped['Percentage of Players']= gender_percent.round(2)
gender_dropped

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
purchase_gender_df = purchase_data_df.groupby(["Gender"])
#pur_gender = purchase_gender_df["Purchase ID"].count()
avg_pur_price = (purchase_gender_df["Price"].mean()).round(2)
avg_pur_price
#pur_analysis_df = pd.DataFrame({"Purchase Count":[pur_gender],
                                 #"Average Purchase Price":[avg_pur_price],
                                 #"Total Purchase Price":[total_pur_price],
                                # "Average Total Per Person": [total_rev_per_person]
                               #})


#pur_analysis_df

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [29]:
bins = [0, 9.9, 14.9,19.9,24.9,29.9,34.9,39.9,999]
group_label = ["<10", "10-14","15-19", "20-24", "25-29", "30-39", "40+" ]

gender_df["Age Range"] = pd.cut(gender_df["Age"], bin, labels=group_labels)
gender_df

age_count = gender_df["Age Range"].value_counts()
age_percent = age_count/total_players *100
age_count
Age_percent

NameError: name 'group_labels' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [36]:
top_spenders = purchase_data_df.groupby(["SN"]).count()["Purchase ID"]
avg_purchase_price = purchase_data_df.groupby(["SN"]).mean()["Price"]
total_top_purchase = purchase_data_df.groupby(["SN"]).mean()["Price"]

top_spenders_final_df = pd.DataFrame({"Purchase Count":[top_spenders],
                                     "Average Purchase Price":[avg_purchase_price],
                                      "Total Purchase Price":[total_top_purchase]
                                     })
top_spenders_final_df.sort_values(by=["Purchase Count"], inplace= True, ascending=False)
#top_spenders_final_df["Average Purchase Price"] = top_spenders_final_df["Average Purchase Price"].map("${;.2f}".format)
#top_spenders_final_df["Total Purchase Price"] = top_spenders_final_df["Total Purchase Price"].map("${;.2f}".format)

top_spenders_final_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Price
0,SN Adairialis76 1 Adastirin33 1 Aeda9...,SN Adairialis76 2.280000 Adastirin33 ...,SN Adairialis76 2.280000 Adastirin33 ...

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
popular_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

purchase_count = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Purchase ID"]
item_price = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"]
total_purchase_value = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"]

popular_df = pd.DataFrame({"Purchase Count": [purchase_count],
                           "Item Price": [item_price],
                           "Total Purchase Value": [total_purchase_value]
                          })
popular_df.sort_values(by=["Purchase Count"], inplace=True, ascending=False)
#popular_df["Item Price"]= popular_df["item Price"].map("${:.2f}".format)
#popular_df["Total Purchase Price"]= popular_df["Total Purchase Price"].map("${:.2f}".format)
popular_df.head

,Purchase Count,Item Price,Total Purchase Value
0,Item ID Item Name ...,Item ID Item Name ...,Item ID Item Name ...

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [35]:
popular_df = pd.DataFrame({"Purchase Count": [purchase_count],
                           "Item Price": [item_price],
                           "Total Purchase Value": [total_purchase_value]
                          })

popular_df.sort_values(by=["Total Purchase Value"], inplace=True, ascending=False)
popular_df.head()

,Purchase Count,Item Price,Total Purchase Value
0,Item ID Item Name ...,Item ID Item Name ...,Item ID Item Name ...